.App__modal-overlay {
  display: block;
  position: absolute;
  right: 0%;
  left: 0%;
  top: 0%;
  bottom: 0%;
  background-color: black;
  z-index: 5;
  opacity: 0.7;
}

.modal {
  position: absolute;
  display: flex;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 619px;
  height: 425px;
  padding: 30px;

  background-color: white;

  z-index: 6;
}

.modal__close-button {
  outline: none;
  position: absolute;
  left: 620px;
  margin: 0;

  transition: transform 0.3s;
  cursor: pointer;
}

.modal__close-button:hover {
  transform: scale(1.2);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 14px;
}

.form__image {
  width: 331px;
  height: 205px;
  margin-bottom: 29px;
}

.form__input {
  height: 30px;
  width: 310px;
  border: 1px solid #CCCCCC;
  border-radius: 3px;

  padding: 0 10px;

  margin-bottom: 20px;
}

.form__btn {
  outline: none;
  background-color: #4997D0;
  color: white;

  border: 1px solid #4997D0;
  border-radius: 3px;

  height: 30px;

  transition: 0.3s;

  cursor: pointer;
}

.form__btn:hover {
  background-color: white;
  color: #4997D0;

  font-weight: bold;
}

.form__btn:active {
  background-color: #4997D0;
}

@media (max-width: 500px) {
  .modal {
    width: 320px;
    height: 100vh;
    padding: 0;
    overflow: hidden;
  }

  .modal__close-button {
    outline: none;
    position: absolute;
    left: 280px;
    top: 20px;
    z-index: 7;
  }

  .form__image {
    width: 320px;
  }

  .form__input {
    width: 275px;
  }

  .form__btn {
    width: 275px;
  }
}
