.gallery {
  display: grid;
  grid-template-columns: repeat(3, 229px);
  gap: 30px 21px;

  justify-content: center;
}

.gallery__btn {
  outline: none;
}

.gallery__image {
  width: 229px;
  height: 142px;

  transition: transform 0.3s;

  cursor: pointer;
}

.gallery__image:hover {
  transform: scale(1.1);
}

@media (max-width: 750px) {
  .gallery {
    grid-template-columns: repeat(2, 229px);
  }
}

@media (max-width: 500px) {
  .gallery {
    grid-template-columns: 1fr;
  }

  .gallery__btn {
    margin: 0 auto;
  }

  .gallery__image {
    width: 280px;
    height: 171px;
  }
}